<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.tools.spy.spyPart">
      <spyPart
            description="Open the Event Spy"
            icon="icons/eventspy.png"
            name="Event Spy"
            part="org.eclipse.e4.tools.event.spy.internal.ui.EventSpyPart"
            shortcut="M2+M3+F8">
      </spyPart>
   </extension>

</plugin>
