<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.tools.orion.text.editor.OrionEditor"
            contributorClass="org.eclipse.e4.tools.orion.text.editor.OrionEditorActionBarContributor"
            default="true"
            extensions="css"
            id="org.eclipse.e4.tools.orion.text.editor"
            matchingStrategy="org.eclipse.e4.tools.orion.text.editor.OrionEditorMatchingStrategy"
            name="OrionEditor">
      </editor>
   </extension>

</plugin>
