<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.e4.tools.spy.spyPart">
      <spyPart
            description="Context Spy to understand what is behind the scene of injection"
            icon="icons/annotation_obj.gif"
            name="Context spy"
            part="org.eclipse.e4.tools.context.spy.ContextSpyPart"
            shortcut="M2+M3+F10">
      </spyPart>
   </extension>
</plugin>
